<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <link href='{{ url_for('static', filename='css/dosis-font.css') }}' rel='stylesheet' type='text/css'

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
<div class="container-fluid">

    <div class="row hero-header" id="home">
        <h1>Health ...</h1>
        <h2 style="color: #961c18">.....</h2>

        <div class="col-md-5" style="padding-top: 50px; float: left">
            <img src="{{ url_for('static', filename='img/cover.jpg') }}" class="rocket animated bounce"
                 style="border-radius: 10px"><br>
            <p>Image Credit: <a>https://blush.design</a></p>
        </div>

        <div class="col-md-7" style="float: left">
            <h3>Face Mask Detection</h3><br>, , , , ,
        </div>

        <div class="clearfix"></div>
    </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/validator.js') }}"></script>

</body>
</html>